html {
    background-color: #F4F4F2;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    margin: 0;
    height: 100vh;

    animation: fadeInAnimation ease 1.5s;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.regiao {
    width: 250px;
    border-radius: 25px;
    margin: 20px;
    background-color: #E8E8E8;
    padding: 20px;

    transition: background-color 0.5s;
}

#placar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
}

.pontuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    height: 15px;
}

.icone {
    transition: 0.5s;
}

#jogo {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.casa {
    height: 50px;
    width: 50px;
    margin: 10px;
    display: inline-block;
    font-size: 30px;
    border-width: 0px;
    border-radius: 10%;
    transition: 0.5s;
    background-color: #BBBFCA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media(hover: hover) and (pointer: fine) {
    .casa:not(.inativo):hover {
        border-radius: 50%;
        transition: border-radius 0.1s, transform 2s 0.5s;
        transform: scale(1.5);
    }
}

@media(hover: none) {
    .casa:not(.inativo):active {
        border-radius: 50%;
        transition: border-radius 0.1s, transform 0.5s;
        transform: scale(0.75);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#seletorModoEscuro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BBBFCA;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F4F4F2;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #476D7C;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}